<style type="text/css">

.imglogo {
  width: 5vw !important;
  height: auto !important;
 

}
</style>

<center> <H2><a href="{% link patrocinadores.md %}" alt="Denominações de patrocínios da ERAD|ERAMIA-NO2">Patrocinadores</a> </H2></center>
Em ordem de apoio <a href="{% link patrocinadores.md %}" alt="Denominações de patrocínios da ERAD|ERAMIA-NO2">as denominações de patrocínios da ERAD|ERAMIA-NO2 são</a> <strong>ÁGUA</strong>, <strong>TERRA</strong> e <strong>FLORESTA</strong>.

<table>
  <tr >
<td class="tdlogo"> 
    
      <H3><strong>APOIO</strong></H3>
	<a href="https://www.fapespa.pa.gov.br/" target="_blank">
		<img height="125vw"   src="{% link /assets/images/logos/sponsors/fapespa.png %}" 
		alt="FAPESPA">
        </a>
        <br>
</td> 


<td class="tdlogo"> 
    
      <H3><strong>PATROCINADOR ÁGUA &#9733;&#9733;&#9733;</strong></H3><br>
	<a href="https://risk.lexisnexis.com.br/" target="_blank">
		<img height="70vw"   src="{% link /assets/images/logos/sponsors/logo_lexisnexis_1.png %}" 
		alt="Lexisnexis">
        </a>
        <br>
</td> 



 
    </tr>
</table>

    <!--

     <div class="col-4"> 
       <span class="fit">Organização<br> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
       </span> 
     </div> 

     <div class="col-4"> 
       <span class="fit">Agências de Fomento<br> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
       </span> 
     </div> 

     <div class="col-4"> 
       <span class="fit">Patrocínio Diamante<br> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
       </span> 
     </div> 
    
     <div class="col-4"> 
       <span class="fit">Patrocínio Ouro<br> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
       </span> 
     </div> 

     <div class="col-4"> 
       <span class="fit">Patrocínio Prata<br> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
       </span> 
     </div> 

     <div class="col-4"> 
       <span class="fit">Patrocínio Bronze<br> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
     	<img src="{% link /assets/images/logos/sponsors/SBC.png %}" alt="Sociedade Brasileira de Computação" srcset="{% link /assets/images/logos/sponsors/SBC.svg %}" height="100"> 
       </span>	 
     </div> 
    
-->
